body {
    flex-direction: column;
    margin: 1%;
    align-items: center;
    justify-content: center;
}
.heading {
    margin-top: 10vh;
}
.form-0 {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}