<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/pages/all_grades_view.css">
    <link rel="stylesheet" href="/static/css/fragments/left_tab.css">
    <link rel="stylesheet" href="/static/css/fragments/account_bar.css">
    <link rel="stylesheet" href="/static/css/fragments/course_tab.css">
    <link rel="stylesheet" href="/static/css/fragments/course_heading.css">
    <link rel="stylesheet" href="/static/css/fragments/logout_link.css">
    <link rel="stylesheet" href="/static/css/fragments/grade_table.css">

    <title>GradeLinker</title>
</head>
<body>

<div class="left-tab">
    <!-- Account bar -->
    <!-- ============================= -->
    <div id="account-bar">
        <!-- <img src="https://www.pngitem.com/pimgs/m/516-5167304_transparent-background-white-user-icon-png-png-download.png"> -->
        <i class="fa-solid fa-user fa-2x"></i>
        <span>Simple Blue</span>
    </div>
    <!-- ============================= -->


    <!-- Course-tab -->
    <!-- ============================= -->
    <div id="course-tab">
        <div class="course-link-div">
            <a class="course-link" href="#" name="course-link">Math</a>
            <hr>
        </div>
        <div class="course-link-div">
            <a class="course-link" href="#" name="course-link">Math</a>
            <hr>
        </div>
        <div class="course-link-div">
            <a class="course-link" href="#" name="course-link">Math</a>
            <hr>
        </div>
        <div class="course-link-div">
            <a class="course-link" href="#" name="course-link">Math</a>
            <hr>
        </div>
        <div class="course-link-div">
            <a class="course-link" href="#" name="course-link">Math</a>
            <hr>
        </div>
        <div class="course-link-div">
            <a class="course-link" href="#" name="course-link">Math</a>
            <hr>
        </div>
        <div class="course-link-div">
            <a class="course-link" href="#" name="course-link">Math</a>
            <hr>
        </div>
        <div class="course-link-div">
            <a class="course-link" href="#" name="course-link">Math</a>
            <hr>
        </div>
        <div class="course-link-div">
            <a class="course-link" href="#" name="course-link">Math</a>
            <hr>
        </div>
    </div>
    <!-- ============================= -->

    <!-- Join/Create Course buttons -->
    <!-- ============================= -->
    <form action="/join-course" method="get">
        <button class="btn-3" type="submit">Join Course</button>
    </form>

    <form action="/create-course" method="get">
        <button class="btn-3" type="submit">Create Course</button>
    </form>
    <!-- ============================= -->
</div>

<div class="vertical-bar"></div>


<div class="main">
    <div id="heading">
        <div class="course-title-container">
            <h2>Math</h2>
        </div>

        <div class="course-id-container">
            <span>Course id:</span><br>
            <span>kf38Hd</span>
        </div>

        <div class="link-container">
            <a href="/logout">Logout</a>
        </div>
    </div>

    <hr class="divider">

    <div class="main-content">
        <table id="grade-table" class="grade-table" th:object="${gradeTable}">
            <tr id="column-headers">
                <th></th>
                <th th:each="date, iStat: *{dates}">
                    <span th:text="*{gradeCategories[__${iStat.index}__]}">ordinary</span>
                    <br>
                    <span th:text="${date}">01-01-2024</span>
                    <!-- store the 'gradeTable.dates' for post-request in hidden input -->
                    <input type="hidden" th:value="${date}" name="dates">
                    <!-- store the 'gradeTable.dates' for post-request in hidden input -->
                    <input type="hidden" th:value="*{gradeCategories[__${iStat.index}__]}" name="gradeCategories">
                </th>
                <th th:each="date, iStat: *{dates}">
                    <span th:text="*{gradeCategories[__${iStat.index}__]}">ordinary</span>
                    <br>
                    <span th:text="${date}">02-01-2024</span>
                    <!-- store the 'gradeTable.dates' for post-request in hidden input -->
                    <input type="hidden" th:value="${date}" name="dates">
                    <!-- store the 'gradeTable.dates' for post-request in hidden input -->
                    <input type="hidden" th:value="*{gradeCategories[__${iStat.index}__]}" name="gradeCategories">
                </th>
                <th th:each="date, iStat: *{dates}">
                    <span th:text="*{gradeCategories[__${iStat.index}__]}">ordinary</span>
                    <br>
                    <span th:text="${date}">03-01-2024</span>
                    <!-- store the 'gradeTable.dates' for post-request in hidden input -->
                    <input type="hidden" th:value="${date}" name="dates">
                    <!-- store the 'gradeTable.dates' for post-request in hidden input -->
                    <input type="hidden" th:value="*{gradeCategories[__${iStat.index}__]}" name="gradeCategories">
                </th>
            </tr>

            <tr th:each="studentName, iStat : *{studentNames}">
                <td class="first-col">
                    <span th:text="${studentName}">Simple Student</span>
                    <!-- store the 'gradeTable.studentUsernames' for post-request in hidden input -->
                    <input type="hidden" th:value="*{studentUsernames[__${iStat.index}__]}" name="studentUsernames">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
            </tr>
            <tr th:each="studentName, iStat : *{studentNames}">
                <td class="first-col">
                    <span th:text="${studentName}">Medium Student</span>
                    <!-- store the 'gradeTable.studentUsernames' for post-request in hidden input -->
                    <input type="hidden" th:value="*{studentUsernames[__${iStat.index}__]}" name="studentUsernames">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
            </tr>
            <tr th:each="studentName, iStat : *{studentNames}">
                <td class="first-col">
                    <span th:text="${studentName}">Simple Green</span>
                    <!-- store the 'gradeTable.studentUsernames' for post-request in hidden input -->
                    <input type="hidden" th:value="*{studentUsernames[__${iStat.index}__]}" name="studentUsernames">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
                <td class="grade-cell" th:each="grade : *{grades[__${iStat.index}__]}">
                    <!-- store the 'gradeTable.gradeSet' for rendering and post-request in following input -->
                    <input class="grade-input" type="number" th:value="${grade}" name="grades">
                </td>
            </tr>
        </table>

        <form id="save-grade-table-form" th:action="'/c/' + ${courseHeading.courseId} + '/all-grades/save-grade-table'" method="post">
            <input id="save-grade-table" type="submit" value="Save Grade Table">
        </form>
    </div>
</div>
</body>
</html>