#account-bar {
    height: 50px;
    display: flex;
    flex-direction: row;

    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    padding: 2px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}
#account-bar:hover {
/*    background-color: #1f78d2;*/
/*    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#account-bar > i {
    font-size: 1.5em;
    color: #9f9f9f;
    margin-right: 1vw;
    margin-left: 1vw;

    margin-top: auto;
    margin-bottom: auto;
}
#account-bar > span {
    font-family: monospace, monospace;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    color: transparent;
    -webkit-background-clip: text;
    position: relative;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}