.grade-table {
    margin-top: 5vh;
    margin-left: 2vw;
    border-collapse: collapse;
    border-style: hidden;
}
.grade-table th {
    width: 120px;
    border: 1px solid black;
}
.first-col {
    background-color: #494949;
    position: sticky;
    left: 10px;
    margin-right: 5px;
    padding-left: 5px;
    border: 1px solid black;
}
.grade-cell {
    height: 40px;
    border: 1px solid black;
}
.grade-input {
    color: white;
    background-color: transparent;

    height: 100%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-style: hidden;
}
.grade-input:hover {
    background-color: #626262;
}
.grade-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


#save-grade-table-form {
    margin: 5vh 2vw;
}
#save-grade-table-button {
    margin: 5vh 2vw;
    position: sticky;
    left: 10px;
}

.add-grade-column-form {
    width: 20vw;
    margin: 5vh 2vw;
    position: sticky;
    left: 10px;
}
