<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/pages/own_grades_view.css}">

    <title>GradeLinker</title>
</head>
<body>
<div th:replace="~{/fragments/left_tab.html}"></div>

<div class="main">
    <div th:replace="~{/fragments/course_heading.html}"></div>

    <div class="main-content">
        <div th:replace="~{/fragments/grade_table.html}"></div>
    </div>
</div>
</body>
</html>